# Python version used in the Docker build
PYTHON_VERSION=3.13.2

# Default port exposed by uvicorn
EXTERNAL_PORT=9000

# Default host
HOST=0.0.0.0

PROJECT_NAME="Smart Factory backend api"


# Database connection details
POSTGRES_USER="maissen"
POSTGRES_PASSWORD="maissen"
POSTGRES_DB="smart_factory_db"
POSTGRES_DB_EXTERNAL_PORT=5500

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DRIVER=asyncpg