# Python version used in the Docker build
PYTHON_VERSION=3.12

# Default port exposed by uvicorn
EXTERNAL_PORT=7000

# Default host
HOST=0.0.0.0

PROJECT_NAME="Smart Factory backend api"


# Database connection details
POSTGRES_USER="maissen"
POSTGRES_PASSWORD="maissen"
POSTGRES_DB="smart_factory_db"
POSTGRES_DB_EXTERNAL_PORT=5500
POSTGRES_DB_VERSION=15

POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432
POSTGRES_DRIVER=psycopg2

# Security configuration
SECRET_KEY="this_is_my_secret_btw"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=20160 # two weeks


# Application configuration
DEFAULT_ERROR_MESSAGE="error message must be passed"
MIN_PASSWORD_LENGTH=8
MIN_PHONE_NUMBER_LENGTH=8


# InfluxDB configuration
INFLUXDB_URL=http://influxdb:8086
INFLUXDB_TOKEN=my_super_token
INFLUXDB_ORG=smart_factory_org
INFLUXDB_BUCKET=machine_metrics